@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        font-family: Raleway, sans-serif;      
    }
}

@layer components {
    .card {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.3xl');
      padding: theme('spacing.8');
      margin-bottom: theme('spacing.10');
      box-shadow: theme('boxShadow.xl');
    }
    
    .card-large {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.3xl');
      padding: theme('spacing.16');
      box-shadow: theme('boxShadow.xl');
    }
    
    @media (max-width: 1279px) {
      .card-large {
        padding-top: theme('spacing.4');
        padding-bottom: theme('spacing.4');
        padding-left: theme('spacing.20');
        padding-right: theme('spacing.20');
      }
      
    @media (max-width: 1024px){
      .card-large{
        padding-left: theme('spacing.8');
        padding-right: theme('spacing.8');
      }
    }

    @media (max-width: 768px){
      .card-large{
        height: 450px;
        padding-left: theme('spacing.8');
        padding-right: theme('spacing.8');
      }
    }

    @media (max-width: 640px){
      .card-large{
        height: 100%;
        width: 100%;
        border-radius: theme('borderRadius.none');
        padding-left: theme('spacing.5');
        padding-right: theme('spacing.5');
      }
    }

    }
    
    

  }

html.dark{
  background: #282c34;
}