@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        font-family: Raleway, sans-serif;      
    }
}

@layer components {
    .card {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.3xl');
      padding: theme('spacing.8');
      margin-bottom: theme('spacing.10');
      box-shadow: theme('boxShadow.xl');
    }
    
    .card-large {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.3xl');
      padding: theme('spacing.16');
      margin-bottom: theme('spacing.10');
      box-shadow: theme('boxShadow.xl');
    }
    
  }

html.dark{
  background: #282c34;
}